<div class="homepage">


  <div class="landing">

    <main class="main">
      <section class="home section" id="home">
        <div class="home__container container ">
          <div class="home__data">
            <h1 class="home__title">
              The International Journal of Public Health Sciences is a journal for publishing high calibre thesis.</h1>

              <h2 class="home_title_continuation">
                Health and medicine will be the primary research topics,
                 which will later be beneficial to compare, study, and plan for the development
                 of particular fields of medicines and health.
              </h2>

            <div class="home_page-buttons">
              <button onclick="" class="homepage-button">Our Journals <i class='bx bx-right-arrow-alt'></i></button>
              <button onclick="" class="publish_us-button">Publish with Us <i class='bx bx-right-arrow-alt'></i></button>
            </div>
          </div>


        </div>
      </section>



      <div class="about_section">
        <div class="group1">
          <!-- <img alt="Rectangle1" src="assets/images/Rectangle129.png" class="rectangle1" /> -->
          <img alt="Rectangle22" src="assets/images/Medical_research_group_1.jpg" class="about_image" />
        </div>
        <div class="about-content">
          <span class="text19">
            <span class="text20">
              <p>About</p>
            </span>
            <span>
              <h1 style="font-size: 37px;font-weight: 400;">About Us</h1>
              <span>
                The International Journal of Public Health Sciences is a journal for publishing high calibre thesis. Health and medicine will be the primary research topics, which will later be beneficial to compare, study,
                 and plan for the development of particular fields of medicines and health.<br>
              <br>Each thesis will be examined for journalism standards, to see if it satisfies the broad requirements
              and to ensure that the material is appropriate in cases where the research produces meaningful findings.
               To maintain the calibre and standard of the thesis we publish on our platform, the review procedure will be carried out by qualified medical editors from
               various institutions.
              </span>
            </span>
          </span>
          <div class="buttons">
            <button class="more_about-button">
              Find Our More<i class='bx bx-right-arrow-alt'></i>
            </button>
          </div>
        </div>
      </div>
      <section class="editorial_promo">


        <div class="editor_content">
          <span class="content-text">
            <span class="text20">
              <p>Editorial Board</p>
            </span>
            <span>
              <h1 style="font-size: 37px;font-weight: 400;">Meet our Editorial Board</h1>
              <span>
                Browse our journals for information about specific journal Editorial Boards, editorial models, and editorial processes.
              </span>
            </span>
          </span>
          <div class="buttons">
            <button [routerLink]="editorial" class="more_about-button">
              Find out More<i class='bx bx-right-arrow-alt'></i>
            </button>

          </div>

          </div>

        <div class="group2">
          <img alt="KoseApp" src="assets/images/Medical_research_edited.png" class="app_image" />

        </div>
      </section>
      <div class="contactus" id="contact">
        <div style="text-align:center">

        </div>
        <div class="row">
          <div class="column">
            <h2>Contact Us</h2>
            <p>Whether you have a question about our journals or
              <br> publishing partnerships,
               our team is here to help.</p>
          </div>
          <div class="column">
            <form action="/action_page.php">
              <input type="text" id="fname" name="firstname" placeholder="Your Full name..">
              <input type="tel" id="phno" name="phoneno" placeholder="Your Phone number..">
              <input type="email" id="email" name="email" placeholder="Your Email Address..">
              <textarea id="subject" name="subject" placeholder="Your Message.." style="height:170px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </main>

  </div>
