<div class="blogpage">


  <div class="landing">

    <main class="main">
      <section class="blog section" id="blog">
        <div class="blog__container container ">
          <div class="blog__data">
            <h1 class="blog__title">
              BLOGS</h1>

        </div>
        </div>
      </section>

      <div class="listing">
        <div class="search_result">
          <div class="item">
            <!-- <ngx-skeleton-loader [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader> -->
          </div>
          <!-- <ng-container  > -->

          <div class="property-list">
            <div class="property-card"  *ngFor="let listing of listings">

              <div class="card-banner ">
                <div class="card-banner inner" >
                  <a href="#">
                  <img src="assets/images/Blog_cover.jpeg"/>
                  <div class="banner-actions">

                   <!-- <span><i class='bx bxs-camera'> 1/{{this.listing.photos.length}}</i></span> -->
                  </div>
                  </a>
                </div>

                <!-- <button type="button" class="btn-prev" (click)="change('right')">
                  <span class="prev-icon"></span>
                </button>
                <button type="button" class="btn-next" (click)="change('left')">
                  <span class="next-icon"></span>
                </button> -->

              </div>

              <div class="card-content">
                <div class="card-price">
                  <strong>Blog Title</strong>
                </div>
                <ul class="card-list">
                  <li class="card-item">
                    <div class="item-row">
                      <i class='bx bx-user-circle'></i>
                      <strong>Author</strong>
                    </div>
                  </li>
                  <li class="card-item">
                    <div class="item-row">
                      <i class='bx bx-time-five'></i>
                      <strong>Published Date</strong>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



  </main>
  </div>
  </div>
