<section>

  <div class="about_page">
    <section id="banner">
      <div class="content">
        <header>
          <h1>Aim & Scope:  </h1>
        </header>
        <p><br>The International Journal of Public Health Sciences is a journal for publishing high calibre thesis. Health and medicine will be the primary research topics, which will later be beneficial to compare, study,
           and plan for the development of particular fields of medicines and health.
           Each thesis will be examined for journalism standards, to see if it satisfies the broad requirements and to ensure that the material is appropriate in cases where the research produces meaningful findings.<br>
           <br>To maintain the calibre and standard of the thesis we publish on our platform, the review procedure will be carried out by qualified medical editors from various institutions.
            Future developments will be numerous, and we wish to provide the best to the community of medical professionals, students, academics, researchers, and knowledge enthusiasts through the IJPHS.<br>
           <br> Without having to sift through a lot of published thesis, one can choose from a number of journal categories. We encourage suitable researchers to submit their thesis for publication in IJPHS.<br>
           <br>IJPHS will serve as an all-encompassing journal for all medical and healthcare disciplines. </p>
        <!-- <div class="achivements">
          <div class="a-col">
            <p class="a-text">Previous Projects</p>
            <h1 class="a-h1">34+</h1>
          </div>
          <div class="a-col">
            <p class="a-text">Years Experience</p>
            <h1 class="a-h1">10y</h1>
          </div> .

        </div>-->
      </div>
      <span class="image object">
        <img src="assets/images/Medical_reasearch_2.jpg" alt="" />
      </span>
    </section>
  <div class="listing">
      <!--  <form action="">
        <div class="search_filter">
          <div class="textOnInput">
            <label for="inputText">Search</label>
            <input type="search" placeholder="Location">
          </div>
          <div class="textOnInput">
            <label for="inputText">But/Rent</label>
            <input type="text" placeholder="Buy">
          </div>
          <div class="textOnInput">
            <label for="inputText">Type</label>
            <input type="text" placeholder="Farm House">
          </div>
          <div class="f_buttons">
            <button type="button" href="#" class="button">
              Search
            </button>
            <button type="button" href="#" class="filterbtn">
              <img src="assets/images/filter.png">
            </button>
          </div>

        </div>
      </form>-->

      <div class="search_result">
        <h4>View our Journals</h4>
        <p>4 result found</p>
        <div class="item">
          <!-- <ngx-skeleton-loader [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader> -->
        </div>
        <!-- <ng-container  > -->

        <div class="property-list">
          <div class="property-card"  *ngFor="let listing of listings">

            <div class="card-banner ">
              <div class="card-banner inner" >
                <a href="#">
                <img src="assets/images/Medical_Journal_cover.jpg"/>
                <div class="banner-actions">

                 <!-- <span><i class='bx bxs-camera'> 1/{{this.listing.photos.length}}</i></span> -->
                </div>
                </a>
              </div>

              <!-- <button type="button" class="btn-prev" (click)="change('right')">
                <span class="prev-icon"></span>
              </button>
              <button type="button" class="btn-next" (click)="change('left')">
                <span class="next-icon"></span>
              </button> -->

            </div>

            <div class="card-content">
              <div class="card-price">
                <strong>Journal Title</strong>
              </div>
              <ul class="card-list">
                <li class="card-item">
                  <div class="item-row">
                    <i class='bx bx-user-circle'></i>
                    <strong>Author</strong>
                  </div>
                </li>
                <li class="card-item">
                  <div class="item-row">
                    <i class='bx bxs-group'></i>
                    <strong>Editorial Board</strong>
                  </div>
                </li>
                <li class="card-item">
                  <div class="item-row">
                    <i class='bx bx-time-five'></i>
                    <strong>Published Date</strong>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <div class="card-location">
                <p><strong>Price: {{getPrice(listing.listPrice)}}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="quote">
      <h1 class="double_quotes">,,</h1>
      <div class="quote_text">
        <h3>IJPHS will serve as an all-encompassing journal for all medical and healthcare disciplines.</h3>
      </div>
    </div>

    </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</section>
