<section>

  <div class="editor_page">
    <section id="banner">
      <div class="content">
        <header>
          <h1 style="text-align: center;">Editorail Board  </h1>
        </header>
        <p><br>This Section offers guidance and resources to get to know more about our Editors in their roles.<br>
           <br>Each thesis offered here are examined for journalism standards, to see if it satisfies the broad requirements and to ensure that the material is appropriate in cases where the research produces meaningful findings.<br>
           <br>To maintain the calibre and standard of the thesis we publish on our platform, the review procedure will be carried out by qualified medical editors from various institutions.
        </p>
        <!-- <div class="achivements">
          <div class="a-col">
            <p class="a-text">Previous Projects</p>
            <h1 class="a-h1">34+</h1>
          </div>
          <div class="a-col">
            <p class="a-text">Years Experience</p>
            <h1 class="a-h1">10y</h1>
          </div> .

        </div>-->
      </div>
    </section>
  </div>
  <!-- <div class="editor-list">
    <div class="chief-editor">

    <div class="card-banner ">
      <div class="card-banner inner" >
        <a href="#">
        <img src="assets/images/Cheif_Editor.jpg"/>
        <div class="banner-actions">

         <span><i class='bx bxs-camera'> 1/{{this.listing.photos.length}}</i></span>
        </div>
        </a>
      </div> -->
    <!-- </div>
  </div>
  </div> -->

  <h1 style="text-align:center">Meet Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/images/President.jpg" alt="Jack" style="width:100%">
      <div class="container">
        <h2>John Doe </h2>
        <p class="title">President</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/images/Editor_in_Cheif.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Dorothy</h2>
        <p class="title">Editor In Cheif</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/images/Senior_Editor.jpg" alt="Bob" style="width:100%">
      <div class="container">
        <h2>Bob Joey</h2>
        <p class="title">Senior Editor</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>bob@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/images/editor_1.jpg" alt="Hannah" style="width:100%">
      <div class="container">
        <h2>Hannah Mckenzie</h2>
        <p class="title">Editor</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>hanah@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/images/editor_2.jpg" alt="Tomos" style="width:100%">
      <div class="container">
        <h2>Tomos Campos</h2>
        <p class="title">Editor</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>tomos@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/images/editor_4.jpg" alt="Alan" style="width:100%">
      <div class="container">
        <h2>Alan Gilbert</h2>
        <p class="title">Editor</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>alan@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</section>

