<div class="Signin">
  <div class="close-btn">
    <button mat-button matDialogClose><i class='bx bx-x'></i></button>
  </div>
  <h1>Login Page</h1>
  <form mat-dialog-content>
    <!-- <label for="username">Email:</label> -->
    <input type="text" id="email" placeholder="Email" name="email" required>
    <!-- <label for="password">Password:</label> -->
    <input type="password" id="password" placeholder="Password" name="password" required>
    <input type="submit" value="Login">
    <div class="oath_btn">
      <a href="#" class="google-btn">Sign In with Google <i class='bx bxl-google' style='color:#ced3cd'></i></a>
      <a href="#" class="apple-btn">Sign In with Apple <i class='bx bxl-apple' style='color:#ced3cd'></i></a>
    </div>
  </form>
</div>